<h1>Items list
  <button class="btn btn-success btn-circle pull-right" 
          (click)="add()"     
          title="Add Customer">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h1>

<div class="alert-danger">{{errorMessage}}</div>

<div class="input-group">

</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            
            <td>{{cust.id}}</td>
            <td>{{cust.name}}</td>
            <td>{{cust.amount}}</td>
            <td style="width: 70px;">
                <i class="glyphicon glyphicon-edit pointer"
                   (click)="edit(cust.id)" title="Edit"></i>
                <i class="glyphicon glyphicon-trash pointer"    
                    (click)="delete(cust.id)" title="Delete"></i>
                <i class="glyphicon glyphicon-user pointer" 
                    (click)="image(cust.id)" title="Image"></i>
            </td>
        </tr>
    </tbody>
</table>