
  <button class="btn btn-success btn-circle pull-right" 
          (click)="add()"     
          title="Add Customer">
    <i class="fas fa-plus-circle"></i>
  </button>
    <h3>{{errorMessage}}</h3>

    <div class="col-md-2"></div>
    
    <div class="col-md-8">
        
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Info</th>
            <th>Kolor</th>
            <th>Operacje</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let house of cottages">
            <td>{{house.name}}</td>
            <td>{{house.extra_info}}</td>
            <td style="background-color: {{house.color}}">
                {{house.color}}</td>
            <td>
                                <i class="fas fa-user-edit" style="cursor: pointer"
                   (click)="edit(house.id)" title="Edit"></i>
                <i class="fas fa-trash-alt" style="cursor: pointer"    
                    (click)="delete(house.id)" title="Delete"></i>
            </td>
        </tr>

    </tbody>
</table>
    </div>
    <div class="col-md-2"></div>
    