<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bursztyn</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cottages" skipLocationChange href="#">Domki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="calendar" skipLocationChange href="#">Kalendarz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users" skipLocationChange >Użytkownicy</a>
      </li>
      <li class="nav-item dropdown">
          

        <!--<a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown link-->
        <!--</a>-->
      </li>
    </ul>
  </div>
  <div   (click)="logout()" style="background-color: white">
      <i  class="fas fa-sign-out-alt"></i>
      
  </div>
</nav>



