<div class="container">
<h1>{{title}} Customer</h1>
<hr>

<form [formGroup]="customerForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label for="" class="col-md-12">Nazwa</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="name">
        </div>
<div class="col-md-6">
<div class="error" 
     *ngIf="name.invalid && (name.dirty || submitted)">
    <div *ngIf="name.errors.required">
        Name is required
    </div>
    <div *ngIf="name.errors.minlength">
       Min. 3 charaters
    </div>
    <div *ngIf="name.errors.maxlength">
        Must not exceed 30 charaters
    </div>
</div>
</div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Address</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                    formControlName="amount" >
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
         <input type="submit" 
                class="btn btn-primary" 
                value="Save" />
         <input type="button" 
                class="btn btn-warning" 
                value="Cancel"
                (click)="cancel()">
      </div>

    </div>
</form>
</div>
